body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eae7f5;
}

.container {
    text-align: center;
    background: rgb(91, 8, 245);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(22, 30, 41, 0.1);
    max-width: 600px;
    width: 100%;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.links a {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
